<div class="side-menu">
   <div class="main2">
    <a class="menu-left-link" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">Le trésor des ruches</a>
    <a class="menu-left-link" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">La production</a>
    <a class="menu-left-link" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">Nos références</a>
    <a class="menu-left-link" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">Plan d'accès</a>
    <a class="menu-left-link" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">Ou trouver nos produits</a>
  </div>
</div>

  <section>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        <div class="main2">
          <div class="d1"><img src="../images/tresor.jpg" class="img-fluid"></div>
          <div class="d0"><p>Entrons à pas feutrés dans ce monde des abeilles qui nous offre un véritable trésor dont elles seules détiennent le secret de fabrication. Dans la famille Renaud, on est apiculteurs de père en fils, autant dire que depuis des dizaines d'années, chaque membre de la "secte" est tombé tout petit dans la bassine et que quelques gouttes de miel ont peut-être été discrètement rajoutées à l'eau bénite lors des baptêmes successifs.</p>
           <p>Le petit dernier Pierre Louis, constamment collé au tablier de son papa Pascal ne risque pas de faire disparaître les traditions de la "Famille des abeilles", comme les appellent leurs parents, leurs amis et leurs clients qui en deviennent vite, de nouveaux amis.</p> <p>Le respect et l'harmonie avec la nature règnent depuis 1956 au sein de cette troupe de passionnés dans ce microcosmos, pour reprendre un titre de film célèbre, et chacun a son secret pour transmettre sa passion des abeilles et des produits miraculeux de la ruche. Leur atelier et leur magasin de vente sont situés sur la commune de Lapouyade dans le Nord Libournais et les Renaud exploitent environ 750 ruches.</p></div>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <div class="main2">
          <div class="d1"><img src="../images/prod.jpg" class="img-fluid"></div>
          <div class="d0"><p>Le miel, c'est 100% de plaisir on ne peut plus naturel. Nous avons eu l'immense privilège de participer à la récolte de miel, en combinaison de cosmonaute, pas trop rassurés quand même, car le bruit que font ces milliers d'ailes et ce nuage d'abeilles qui nous tournent autour n'a vraiment rien de rassurant pour le néophyte. Bien sûr l'enfumoir et la balayette sont utilisées pour extraire les plaques de la ruche mais nous n'en menions pas large malgré tout. Ensuite le miel sera extrait à froid comme on le fait depuis des lustres dans la famille. Le miel, qu'est ce que c'est ? C'est la denrée produite par les abeilles à partir du nectar des fleurs qu'elles butinent, transforment naturellement, emmagasinent et laissent mûrir dans les rayons de la ruche, appelés des cadres. C'est le bruissement de leurs ailes qui sert de ventilateur écologique et qui produit ce vacarme assourdissant et inquiétant. "Vous ne risquez rien", annonce un Pascal moqueur qui se marre, "ce ne sont que des abeilles". C'est cela, oui, on va faire comme ça.... Toutes les saveurs de la nature. Des fins et délicats palais aux grands gourmands, chacun pourra trouver son bonheur, en voici quelques exemples:
            <ul>
              <li>Miel toutes fleurs ou mille fleurs, récolté au printemps, couleur plus ou moins clair et goût plus ou moins corsé sera délicieux dans le lait et les infusions</li>
              <li>Forêt, liquide, au goût prononcé, il provient des arbres et des fleurs des forêts. Accompagne délicieusement les pommes, les toasts, le lait et les tisanes.</li>
              <li>Miel de cru ou mono floraux. L'Acacia, toujours liquide, de couleur très claire, l'odeur et la saveur en sont délicates. Succulent avec les fraises, accompagne les yaourts et les céréales du petit déjeuner.</li>
              <li>Il existe aussi le miel de bruyère, de châtaignier, de bourdaine et de tilleul.</li>
            </ul></p>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body"><p>
        <div class="main2">
          <div class="d1"><img src="../images/cga-L100.jpg"></div>
          <div class="d2"><h5>Concours Général Agricole.</h5>
           <p>Salon International de l'Agriculture 1998.<br> Voir la médaille d'Argent.<br> Site Web : www.cga-paris.com</p></div>
        </div>
        <div class="main2">
          <div class="d1"><img src="images/la-gironde-L100.png"></div>
          <div class="d2"><h5>Comité Départemental du Tourisme de la Gironde.</h5>
           <p>Dans la rubrique : Les Plus grands Rendez-vous - Les incontournables <br> Voir la médaille d'Argent.<br> Site Web : www.tourisme-gironde.fr</p></div>
        </div>
        <div class="main2">
          <div class="d1"><img src="images/coeur-d-arome.jpg"></div>
          <div class="d2"><h5>Coeur d'arômes.</h5>
           <p>Cœur d’Arôme vend des produits (café, thé, confitures, miels, chocolats..) et paniers garnis solidaires uniques par leur qualité.<br> Site Web : www.coeurdarome.com</p></div>
        </div>
      </p>
      </div>
    </div>
  <div class="collapse" id="collapseExample4">
    <div class="card card-body">
      <div class="plan">
      <div class="dplan"><img src="images/plan.png" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseExample5">
    <div class="card card-body">
      <div class="main2">
        <h1>Ou trouver nos produits</h1>
      </div>
    </div>
  </div>
</section>

