<div class="banner">
    <div class="banner-content">
      <h1>Producteurs de miel depuis 1956</h1>
      <h4>Produits de l'apiculture
      </h4>
      <a href="#cdrfbox" id= "welcome" class= "btn btn-warning ">Bienvenue</a>

    </div>
  </div>

