<style>
   .fa { color: #fff; }
</style>
    <div class="banner">
    <div class="banner-text">
      <h4>Clefsdelfe prend en charge votre organisation sur la région Bordelaise</h4>
      <p>Un service de proximité efficace pour gagner du temps, éviter les déplacements, limiter le stress.</p>
    </div>
  <div id="slider-main">
    <button id="prev"><i class="fa fa-angle-double-left"></i></button>
  <div id="slider"></div>
    <button id="next"><i class="fa fa-angle-double-right"></i></button>
    <div id="circles"></div>
  </div>
</div>

