
  <div id ="banner" class="banner">
    <div class="banner-text">
      <h1>Clefs d'Elfe prend en charge votre organisation<br>sur la région Bordelaise.</h1>
      <p>Un service de proximité efficace pour gagner du temps, éviter les déplacements et limiter le stress.</p>
      <a href="#link-decouvrir" class="btn btn-success">En savoir plus</a>
    </div>
  <div id="slider-main">
    <button id="prev"><i class="fa fa-angle-double-left"></i></button>
  <div id="slider"></div>
    <button id="next"><i class="fa fa-angle-double-right"></i></button>
    <div id="circles"></div>
  </div>
</div>

