<div class="banner">
    <div class="banner-content">
      <h1>Les Ruchers des Hauts de Gironde</h1>
      <h2>Producteurs de miel - Produits de l'apiculture</h2>
      <a href="#" id= "welcome" class= "btn btn-warning ">Bienvenue</a>
    </div>
  </div>

