<div class="nav-offset-top"></div>

<div class="banner">
  <div class="banner-text" data-aos="fade-in">
    <h1>Clefs d'Elfe prend en charge votre organisation sur la région Bordelaise.</h1>
    <h4>Un service de proximité efficace pour gagner du temps, éviter les déplacements et limiter le stress.</h4>
    <a href="#link-decouvrir" class="btn btn-success">En savoir plus</a>
  </div>
</div>
