<div class="cdrfbox-coord" data-aos="fade-out" data-aos-delay="400">
  <div>
    <p>Clefs d'Elfe est à votre écoute du lundi au vendredi de 09H00 à 12H00 et de 14H00 à 17H00.</p>
    <p><i class="fa fa-phone"> : 06 26 71 14 27</i></p>
    <p><i class="fa fa-send"> : florence@clefsdelfe.com</i></p>
  </div>
</div>
