<div class="footer-up">
  <p>www.clefsdelfe.com</p>
  <p>33610 CESTAS</p>
  <p>SIRET : .............</p>
</div>


<div class="myfooter">
  <div class="centree">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><a href="organ.html">Organisation</a>
          <li><a href="services.html">Services</a>
          <li><a href="reserv.html">Réservations</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><a href="#">Décoration</a>
          <li><a href="#">Services à la demande</a>
          <li><a href="#">Web évènementiel</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><a href="about.html">A propos</a>
          <li><a href="contact.html">Contact</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
         <div class="#">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
</div>
