
<div class="myfooter">
<div class="footer-up">
  <h3>www.clefsdelfe.com</h3>
  <p>7 avenue Camelinat 33610 CESTAS</p>
  <p>SIRET : 52394149000022</p>
</div>

  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="list-menu"><hr>
        <ul>
          <li><a href="organ.html">Organisation</a>
          <li><a href="livredor.html">Livre d'Or</a>
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12">
      <div class="list-menu"><hr>
        <ul>
          <li><a href="about.html">A propos</a>
          <li><a href="contact.html">Contact</a>
        </ul>
      </div>
    </div>

     <div class="col-sm-3 col-xs-12">
      <div class="list-menu"><hr>
        <ul>
          <li><a href="mentions.html">Mentions légales</a>
          <li><a href="https://backseo.github.io/portfolio" target="_blank">1bout2ficel</a>
        </ul>
      </div>
    </div>

  </div>
</div>
