<div class="footer">

    <div class="list-menu">
      <ul>
        <li>Documents</li>
        <li>Illustrations</li>
        <li>3D</li>
      </ul>
    </div>
    <div class="list-menu">
      <ul>
        <li>Développement</li>
        <li>Contenu Web</li>
        <li>Musique</li>
      </ul>
    </div>
    <div class="list-menu">
      <ul>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
     <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>

</div>
