<div id="organ-menu-top" class="organ-menu-top">
    <ul>
      <i class="fa fa-arrow-right" ></i>
      <li> <a href="#jetud">Journées d'études</a></li>
      <li> <a href="#seminaires">Séminaires</a></li>
      <li> <a href="#salons">Salons</a></li>
      <li> <a href="#rep-af">Repas d'affaires</a></li>
      <li> <a href="#act-re-cu">Activités récréatives et culturelles</a></li>
      <li> <a href="#dep">Déplacements</a></li>
    </ul>
  </div>
