<div class="navbar-ficel" data-aos="slide-down">
  <!-- Logo -->
  <a href="https://backseo.github.io/DIVESHOP" class="navbar-ficel-brand">
    <i class="fa fa-home"></i>
  </a>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-ficel-right">
    <a href="shorts2.html" class="navbar-ficel-item navbar-ficel-link">About me</a>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-ficel-item">
      <div class="dropdown">
        <img src="images/lewagon2.gif" class="avatar dropdown-toggle" id="navbar-ficel-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-ficel-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
        <li><a href="print.html">Print</a></li>
        <li><a href="illustration.html">Illustration</a></li>
        <li><a href="gifs.html">contenu web</a></li>
        <li><a href="autodesk.html">Modelisation 3D</a></li>
        <li><a href="shorts.html">Animation 3D</a></li>
        <li><a href="#">Développement</a></li>
        <li><a href="#">Musique</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>
