<div class="navbar-ficel" data-aos="slide-down">
  <!-- Logo -->
  <a href="#" class="navbar-ficel-brand">
  <%= image_tag "../images/Logo-ruchers_022.png", alt: "LRHG" %>
  </a>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-ficel-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-ficel-item">
      <div class="dropdown">
        <img src="images/#" id="navbar-ficel-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
          <li><a href="#">Lien</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-ficel-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
        <li><a href="#.html">Les miels</a></li>
        <li><a href="#.html">Les senteurs</a></li>
        <li><a href="#.html">Les douceurs, envies</a></li>
        <li><a href="#.html">Bien-être et santé</a></li>
        <li><a href="#.html">Contact</a></li>
        <li><a href="about.html">A propos</a></li>
        <li><a href="#.html">CGV</a></li>
      </ul>
    </div>
  </div>
</div>
