<div class="navbar-clefdelf">
  <a href="http://localhost:4567" class="navbar-clefdelf-brand">
    <%= image_tag "Logo_v3.png", alt: "LOGO CLEFS D'ELFE" %></a>

  <!-- Navigation Tabs -->
  <%= partial 'layouts/components/tab' %>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-clefdelf-item hidden-md hidden-lg">
    <div id="firstDropdown" class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu
              dropdown-menu-right
              navbar-clefdelf-dropdown-menu">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="organ.html">Organisation</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">A propos</a></li>
      </ul>
    </div>
  </div>
</div>
