<div class="navbar-lrhg" data-aos="slide-down">
  <!-- Logo -->
  <a href="#" class="navbar-lrhg-brand">
  <%= image_tag "../images/Logo-ruchers_022.png", alt: "LRHG" %>
  </a>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-lrhg-right">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-lrhg-item">
      <div class="dropdown">

        <img src="images/#" id="navbar-lrhg-menu" data-toggle="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-lrhg-dropdown-menu">
          <li>
            <a href="#">Protection des abeilles.</a>
          </li>

          <li>
            <a href="#">Protection des apiculteurs.</a>
          </li>

          <li>
            <a href="#">Sauver la planète.</a>
          </li>



        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-lrhg-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu
                dropdown-menu-right
    navbar-lrhg-dropdown-menu">
        <li><a href="#.html">Les miels</a></h1><h1></li>
        <li><a href="#.html">Les senteurs</a></h1><h1></li>
        <li><a href="#.html">Les douceurs, envies</a></h1><h1></li>
        <li><a href="#.html">Bien-être et santé</a></h1><h1></li>
        <li><a href="#.html">Contact</a></h1><h1></li>
        <li><a href="about.html">A propos</a></h1><h1></li>
        <li><a href="#.html">CGV</a></h1><h1></li>
      </ul>
    </div>
  </div>
</div>
