<div class="parten-title">
  <h3>Partenaires:</h3>
</div>
<div class="partenfbox">

  <img class="parten-logo" src="https://via.placeholder.com/120">
  <img class="parten-logo" src="https://via.placeholder.com/120">
  <img class="parten-logo" src="https://via.placeholder.com/120">
  <img class="parten-logo" src="https://via.placeholder.com/120">
  <img class="parten-logo" src="https://via.placeholder.com/120">
  <img class="parten-logo" src="https://via.placeholder.com/120">

</div>
