
<div class="side-menu">
  <ul>
    <li>
      <a class="menu-left-link" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">Le trésor des ruches</a>
    </li>
    <li>
      <a class="menu-left-link" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">La production</a>
    </li>

    <li>
      <a class="menu-left-link" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">Nos références</a>
    </li>

    <li>
      <a class="menu-left-link" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">Plan d'accès</a>
    </li>

    <li>
      <a class="menu-left-link" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">Ou trouver nos produits</a>
    </li>
  </ul>
</div>
