<div class="tabs hidden-xs">

  <div class="tabs-item dropdown">
    <span>Organisation</span>
      <div class="dropdown-content">
        <span><%= link_to 'Journées d\'étude', "#.html" %></span>
        <hr>
        <span><a href="#">Séminaires</a></span>
        <hr>
        <span><a href="#">Salons</a></span>
        <hr>
        <span><a href="#">Repas d'affaires</a></span>
        <hr>
        <span><a href="#">Activités récréatives ou culturelles</a></span>
         <hr>
        <span><a href="#">Déplacements</a></span>
      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Services<span>
      <div class="dropdown-content">
         <span><a href="#">Recherche de locaux</a></span>
          <hr>
         <span><a href="#">Web evènementiel</a></span>
         <hr>
         <span><a href="#">Ornement végétal</a></span>
         <hr>
         <span><a href="#">Réservations</a></span>
    </div>
  </div>



  <div class="tabs-item">
     <span> <a href="#">Contact</a></span>
  </div>
  <div class="tabs-item">
     <span> <a href="#">A propos</a></span>
  </div>

</div><!-- Fin tabs -->

