<div class="tabs hidden-sm hidden-xs">

  <div class="tabs-item">
    <span><a href="organ.html">Organisation</a></span>
  </div>

  <div class="tabs-item">
    <span><a href="services.html">Services</a><span>
  </div>

  <div class="tabs-item">
     <span> <a href="contact.html">Contact</a></span>
  </div>
  <div class="tabs-item">
     <span> <a href="about.html">A propos</a></span>
  </div>

</div><!-- Fin tabs -->

