<div class="tabs">

  <div class="tabs-item dropdown">
    <span>Images et multimédia<span>
      <div class="dropdown-content">
         <span><%= link_to 'Mise en page', "print.html" %></span>
         <hr>
         <span>Illustration</span>
         <hr>
         <span>Gifs animés</span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Passion 3D</span>
      <div class="dropdown-content">
        <span>Modélisation 3D</span>
        <hr>
        <span>Animation 3D </span>
        <hr>
        <span>Unreal Engine 4</span>
      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Vidéo</span>
      <div class="dropdown-content">
        <span>Courts-métrages 3D </p>
        <hr>
        <span>After-Effects</span>

      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Développement</span>
    <div class="dropdown-content">
       <span>Compétences</span>
       <hr>
       <span>Sites Web</p>
       <hr>
       <span>Applications</span>
    </div>
  </div>

  <div class="tabs-item">
    <a href="pages/music.html"> <span>Musique</span></a>
  </div>
  <div class="tabs-item">
     Contact
  </div>

</div><!-- Fin tabs -->

