<div class="cdrfbox-coord">

  <div>
    <h1>CLEFS D'ELFE</h1>
    <h3>Service aux entreprises</h3>
    <p>Vous pouvez joindre Clefs d'Elfe du lundi au vendredi de 8 h à 12 h et de 14 h à 18 h</p>
    <p>33610 Cestas</p>
    <p>Tel : 06 26 71 14 27</p>
    <p>florence@clefsdelfe.com</p>
    <p>http://www.clefsdelfe.com</p>
  </div>

</div>
