<div class="cdrfbox-coord">
  <div>
    <p>Vous pouvez joindre Florence du lundi au vendredi de 8 h à 12 h et de 14 h à 18 h</p>
    <p><i class="fa fa-phone"></i> : 06 26 71 14 27</p>
    <p><i class="fa fa-send"></i> : florence@clefsdelfe.com</p>
    <p><i class="fa fa-sitemap"></i> : http://www.clefsdelfe.com</p>
  </div>
</div>
