<div class="cdrfbox-coord">
  <div>
    <p>Florence est généralement joignable du lundi au vendredi de 08H00 à 12H00 et de 14H00 à 18H00.</p>
    <p><i class="fa fa-phone"> Appelez le : 06 26 71 14 27</i></p>
    <p><i class="fa fa-send"> : florence@clefsdelfe.com</i></p>
    <p>Ces informations sont données à titre indicatif, merci d'en tenir compte.</p>
  </div>
</div>
