<div class="parten-title">
  <h3>Ils nous ont déja fait confiance :</h3>
</div>
<div class="partenfbox">

  <img class="parten-logo" src="https://via.placeholder.com/150">
  <img class="parten-logo" src="https://via.placeholder.com/150">
  <img class="parten-logo" src="https://via.placeholder.com/150">
  <img class="parten-logo" src="https://via.placeholder.com/150">
  <img class="parten-logo" src="https://via.placeholder.com/150">
  <img class="parten-logo" src="https://via.placeholder.com/150">

</div>
