/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.retour {
  position: absolute;
  top:125px;
  left: 125px;
  color:$white;
  transform: scale(2);
}
