.banner {height: 82vh;
background: linear-gradient(135deg,
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.3) 50%),
url(../../images/banner1.jpg);
background-size: cover;
background-position: center;
display: flex;
justify-content: space-around;
text-align: center;

}

.banner h1 {
  font-weight: lighter;
  color: rgba(255,255,255,0.9);
  margin-bottom: 20px;
}

.banner h4 {
  font-weight: lighter;
  color: rgba(255,255,255,0.8);
  margin-bottom: 40px;
}


.btn-warning {
  background-color: #ffcc00;
  font-weight: 900;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ffdd00;
    border-radius: 5px;
    transition: all ease-in-out 500ms;
}

.reveal {
  transform: scale(1.1);
  opacity: 1;
}

@media (max-width: 1250px) {
  .banner-content h1 {
  font-size: 2em;
  }
}
