/* On pc and screen-tablettes */
.banner {
  position: relative;
}

.banner-text {
  position: relative;
  text-align: center;
  margin: 0px 4px;
}

.banner-text h1 {
  position: relative;
  font-size: 4rem;
  color: $white;
  top: 320px;
  z-index: 3;
}

  .banner-text p {
  position: relative;
  font-size: 1.8rem;
  font-weight: lighter;
  color: $white;
  top: 350px;
  z-index: 3;
  transform: scaleY(1.5);
}

/* image slider css */

#slider-main{
  width: 100%;
  overflow: hidden;
  filter: brightness(0.6);
}

.img-slide{
    width: 100%;
    height: 90vh;
    z-index: 5;
    overflow-y: hidden;
}

#prev{
  display: none;
    z-index: 10;
    color: #000;
    position: absolute;
    background: transparent;
    border: none;
    margin-top: 40vh;
    margin-left: 3%;
    font-size: 60px !important;
}

#next{
  display: none;
    color: #000;
    position: absolute;
    z-index: 100;
    background: transparent;
    border: none;
    margin-top: -50vh;
    margin-left: 93.5%;
    font-size: 60px !important;
}

.circle{
    border: #ccc 3px solid;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

#circles{
    margin-top: -15vh;
    margin-left: 48.6%;
    position: absolute;
    z-index: 3;
}

.image-animated{
    animation: animateImage 5s ease-in-out; /* change time according to interval set */
}

@keyframes animateImage {
  0%{
      opacity: .2;
      transform: scale(1.1,1.1);
  }
  20%{
      opacity: 1;
      transform: scale(1,1);
  }
  80%{
      opacity: 1;
      transform: scale(1,1);
  }
  95%{
      opacity: .8;
      transform: scale(1.1,1.1);
  }
  100%{
      opacity: .8;
      transform: scale(1.1,1.1);
    }
}

/*on mobile only*/
@media (max-width: 767px) {
  .banner-text h1 {
    top: 180px;
    color: $white;
    font-size: 2.1rem;
  }

  .banner-text p {
    top: 200px;
    color: $white;
    font-size: 1.3rem;
    transform: scaleY(1);
  }

  .img-slide{
      height: 40vh;
  }

  .circle{
      width: 15px;
      height: 15px;
      border-radius: 15px;
  }
  #circles{
      margin-top: -10vh;
      margin-left: 36%;
  }
}
