/* Boite Menu page accueil contenant les cards*/
.cdrfbox-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 120px;
  margin-bottom: 50px;
  padding: 50px 0px;
  background: $purple;
  box-shadow: $box-shadow-in;
}

.cards {
  background: linear-gradient(155deg,
    rgba($purple, 0.7) 0%,
    rgba($purple-dark, 1) 70%);
  position: relative;
  height: 60px;
  width: 200px;
  margin: 8px;
  border: 1px white solid;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.cards:hover {
  transform: scale(0.99);
  background: linear-gradient(165deg,
    rgba($purple, 0.9) 0%,
    rgba($white, 0.5) 70%);
    border: 1px $purple solid;
    box-shadow: 2px 2px 8px 1px black;
    transition: all 300ms ease;
}

.cards-title h1 {
  position: absolute;
  font-size: 1.7rem;
  color: white;
  top: 4px;
  left: 10px;
  z-index: 1;
}

.cards-category {
  position: absolute;
  font-size: 1em;
  color: white;
  top: 60px;
  left: 10px;
}

.cards img {
  position: absolute;
  border-radius: 3px;
  top: 4px;
  right: 4px;
  height: 50px;

}

/*Mobile only*/
@media only screen and (max-width: 768px) {
  .cdrfbox-cards {
    border-radius: 4px;
  }
  .cards {
    width: 250px;
  }

}
