.cards {
  background: linear-gradient(155deg,
    rgba(0, 174, 0, 0.7) 0%,
    rgba(255, 205, 0, 1) 70%);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 130px;
  width: 260px;
  margin: 10px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 3px 2px #000000;
  -webkit-box-shadow: 2px 2px 3px 2px #000000;
  -o-box-shadow: 2px 2px 3px 2px #000000;
  box-shadow: 2px 2px 3px 2px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=3);
  transition: all 100ms ease-out;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.1);
  background: linear-gradient(155deg,
    rgba(0, 120, 0, 0.7) 0%,
    rgba(255, 205, 0, 1) 70%);
  margin: 5px;
transition: all 100ms ease-out;
}

.cards-category {
  font-size: 1em;
  position: absolute;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cards-title h1 {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1;
}



.cards img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
