/* Boite Menu page accueil contenant les cards*/
.cdrfbox-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 160px;
  margin-bottom: 50px;
  padding-top: 50px;
  background: $purple;
  box-shadow: $box-shadow-in;
}

/* Section parallax */
section {
  background-attachment: fixed;
  background-color: transparent;
}

section.sec-3 {
  height: 40vh;
  background: url('../images/banner5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Mobile only*/
@media only screen and (max-width: 768px) {
  .cdrfbox-cards {
    border-radius: 4px;
  }
}
