/* Section parallax */
section {
  background-attachment: fixed;
  background-color: transparent;
}

section.sec-3 {
  height: 40vh;
  background: url('../images/banner5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.mainfbox {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  color: $white;
  background: Transparent;
  width: 100%;
}

.mainfbox img {
  z-index: 5;
}

.textbox {
  width: 570px;
}



