.cdrfbox-coord {
  border: 2px red solid;
  position: relative;
  color: $white;
  background: $purple-gradient;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: $box-shadow-in;
  text-align: center;
  padding: 50px 18px 60px 18px;
  margin-bottom: 50px;
  font-size: 1.8rem;
  opacity: 0.8;
}


@media only screen and (max-width: 768px) {
  .cdrfbox-coord {
    font-size: 1.4rem;
  }
}

