.cdrfbox-coord {
  background-color: $white;
  background-image: url(../images/header_serie_purple_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px 1px black;
  text-align: center;
  padding: 120px 18px 60px 18px;
  margin-bottom: 50px;
  font-size: 1.5rem;
  opacity: 0.8;
}


