.foot-up {
  background-image: url('../images/alveol1.png');
  height: 167px;
  width: 100%;
}

.foot-down {
  background-image: url('../images/fx-down.png');
  height: 167px;
  width: 100%;
}

.myfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
  background-color: $purple-dark;
}

.list-menu {
  color: $white;
  margin: 4px 2px 4px 2px;
  min-width: 250px;
}

.list-menu li a {
  color: $white;
}
.list-menu li a:hover {
  color: $yellow;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}

.centree {
  margin: 0 auto;
}


