.myfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
  background-color: $purple-darker;
}

.list-menu {
  color: $white;
  margin: 4px 2px 4px 2px;
  min-width: 250px;
}

.list-menu li a {
  color: $white;
}
.list-menu li a:hover {
  color: $yellow;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}

.centree {
  margin: 0 auto;
}


