/* Main navbar */
.navbar-clefdelf {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 25;
  width: 100%;
  background-color: $purple-dark;
  height: 130px;
  box-shadow: $box-shadow;
  transition: all ease-in-out 300ms;
}

/* Logo */
.navbar-clefdelf-brand img {
  margin-left: 30px;
  height: 120px;
  transition: all ease-out 300ms;
}

#firstDropdown .dropdown-backdrop {
    display:none;
}

.dropdown {
  position: relative;
}

/* icon dropdown*/
.dropdown-toggle {
  font-size: 3rem;
}

/*  */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  background: linear-gradient(155deg,
    rgba($purple, 0.9) 0%,
    rgba($purple-dark, 1) 50%);
  border-radius: 4px;
  box-shadow: 2px 2px 3px 2px black;
  min-width: 150px;z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10
}

.dropdown-content a {
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all ease 100ms;
}

.dropdown-content a:hover {
  color: $yellow;
}

.dropdown-menu {
  opacity:1;
}

/* Basic navbar item */
.navbar-clefdelf-item {
  cursor: pointer;
  padding: 0 20px;
  color: $yellow;
}


/* Dropdown menu */
.navbar-clefdelf-dropdown-menu {
  margin: 15px 0px;
  padding-top: 5px;
  box-shadow: 1px 1px 4px $gray;
  border: 1px #fff solid;
  border-radius: 3px;
  background: $menu-gradient;
  z-index: 20;
}

.navbar-clefdelf-dropdown-menu li > a {
  text-align: center;
  color: black !important;
  font-family: $headers-font;
  font-size: 1.3rem;
  line-height: 22px !important;
  padding: 10px 20px;
  transform: scaleY(1.1);
  transition: all ease-in-out 300ms;
}


.navbar-clefdelf-dropdown-menu li > a:hover {
  background: $purple !important;
  color: $orange !important;
  transition: all ease-in-out 100ms;
}

.navbar-clefdelf-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
  .navbar-clefdelf-brand img {
  transform: scale(0.8);
    margin-left: 10px;
  }

}
