/* Main navbar */
.navbar-lrhg {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: $orange;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Logo */
.navbar-lrhg-brand img {
  width: 150px;
  height: 60px;  ;
}

/* User Avatar */
.navbar-lrhg .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Right section */
.navbar-lrhg-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-lrhg-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-lrhg-link {
  color: #616668;
  font-size: 14px;
}
.navbar-lrhg-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-lrhg-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $gray;
  border-color: #fff;
  background: $orange;
}
.navbar-lrhg-dropdown-menu:hover{
  background: linear-gradient(155deg,
    rgba(0, 174, 0, 0.7) 0%,
    rgba(255, 205, 0, 0.9) 60%);
  transition: all 0.5s ease 0.1s;
}

.reveal {
  opacity: 1;
}

.navbar-lrhg-dropdown-menu li > a {
  transition: color 0.3s ease;
  text-align: center;
  font-weight: bolder !important;
  color: #fff !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-lrhg-dropdown-menu li > a:hover {
  background: $yellow !important;
  color: black !important;
}
.navbar-lrhg-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

