/* Main navbar */
.navbar-clefdelf {
  position: fixed;
  top: 0;
  z-index: 25;
  width: 100%;
  background-color: $purple-dark;
  transition: all 0.3s ease;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all ease-in-out 500ms;

}

/*animation de la navbar*/


/* Logo */
.navbar-clefdelf-brand img {
  margin-left: 80px;
  height: 100px;
  transition: all ease-out 500ms;

}

/* Right section */
.navbar-clefdelf-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-clefdelf-item {
  cursor: pointer;
  padding: 0 20px;
  color: $yellow;
}



/* Dropdown menu */
.navbar-clefdelf-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $gray;
  border-color: #fff;
  background: $purple;
  z-index: 20;
  background: linear-gradient(155deg,
    rgba($purple, 0.8) 0%,
    rgba($purple-dark, 0.9) 60%);
  transition: all ease-in-out 500ms;
}

.navbar-clefdelf-dropdown-menu:hover{
  transition: all ease-in-out 500ms;
}

.reveal {
  opacity: 1;
}

.navbar-clefdelf-dropdown-menu li > a {
  transition: color 0.3s ease;
  text-align: center;
  font-weight: bolder !important;
  color: #fff !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-clefdelf-dropdown-menu li > a:hover {
  background: $purple-dark !important;
  color: $brown !important;
}
.navbar-clefdelf-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

@media (max-width: 767px) {

}
