.tabs {
  display: inline-flex;
  margin: 0 auto;
}

.tabs-item{
  font-family: $headers-font;
  font-size: 1.4rem;
  padding: 10px 16px;
  flex: 1 0 auto;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tabs-item:hover {
  background-color: $purple-dark;
  border-radius: 3px;
  color: $yellow;
  flex: 1 0 auto;
  transition: all ease-in-out 100ms;
}

.tabs-item a {
  padding: 20px 10px;
  color: white;
  text-decoration: none;
}

.tabs-item a:hover {
  color: $yellow;
  text-decoration: none;
}


