.tabs {
  display: inline-flex;
  margin: 0 auto;
}

.tabs-item {
  font-family: $headers-font;
  font-size: 1.4rem;
  padding: 10px 4px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.tabs-item:hover {
  background-color: $purple-dark;
  border-radius: 3px;
  color: $yellow;
  flex: 1 0 auto;
  transition: all ease-in-out 100ms;
}

.tabs-item a {
  padding: 20px 10px;
  color: white;
  text-decoration: none;
}

.tabs-item a:hover {
  color: $yellow;
  text-decoration: none;
}

.tabs-item:before {
  position: absolute;
  bottom: 50px;
  content: "";
  width: 0;
  height: 2px;
  transition: all ease-in-out 500ms;
}

.tabs-item:hover:before {
  position: absolute;
  content: "";
  width: 90px;
  height: 2px;
  background: $orange;
  opacity: 0;

}

.tabs-item a:after {
  position: absolute;
  bottom: 50px;
  content: "";
  width: 0;
  height: 0px;
  transition: all ease-in-out 500ms;
}

.tabs-item a:hover:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background: $orange;
  opacity: 0;

}

