.main2 {
  background: rgba(255,251,188,1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

.d0 {
  padding: 2px 2px 2px 2px;
  max-width: 75%;
  margin: 0 auto;
}

.d1 {
  padding: 0px 10px 10px 10px;
  margin: 0 auto;
  margin-top: 5px;
}

.d2 {
  padding: 2px 0px 2px 0px;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}


