.cdrfbox {
  background-image: url("../images/alveol1.png");
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 439px;
}

.miel {
  opacity: 1;
}

section {
  background-attachment: fixed;
  background-color: transparent;
}

section.sec-1 {
  width: 100%;
  height: 100vh;
  background-position: middle;
  background: url('../images/ficel2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

section.sec-1-content {
  display: flex;
  height: 100px;
  font-family: $headers-font;
  color: white;
}

section.sec-2 {
  position: relative;
  width: 100%;
}

section.sec-3 {
  height: 400px;
  background: url('../images/bg_04.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  & h2 {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
  }
  & h3 {
    position: relative;
    top: 250px;
    left: 300px;
    text-align: center;
    color: white;
  }
}

section.sec-4 {
  background-color: #262626;
  text-align: center;
  color: white;
}





