/* Section parallax */
section {
  background-attachment: fixed;
  background-color: transparent;
}

section.sec-3 {
  height: 40vh;
  background: url('../images/banner5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-3-text {
  color: $purple-dark;
  padding-top: 70px;
  font-weight: bolder;
}

.mainfbox {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  color: $white;
  background: Transparent;
  width: 100%;
}

.mainfbox img {
  z-index: 5;
}

.textbox {
  width: 570px;
}

#icon-logo {
  transform: scale(0.7);
}


/* bouton récurrent*/
.contact-btn {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background: $orange;
  margin: 4px 4px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  border: 1px transparent solid;
  transition: ease 50ms;
  &.contact-btn a {
    text-decoration: none;
    color: black;
  }
}

.contact-btn:hover {
  background: $orange;
  border: 1px $purple solid;
  box-shadow: inset $box-shadow;
}









