.i-container {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    flex-wrap: wrap;
    padding: 5px;

}

.img {
  margin: 10px;
}

.i-titre-affiche {
  text-align: left;
  padding: 0px 0px 8px 95px;
}

