.sec-illust {
  height: 90vh;
  background: url('../images/bg-illustra.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-container {
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  flex-wrap: wrap;
  padding: 5px;
}

.img {
  position: relative;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.img:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  background: white;
  opacity: .5;
  font-weight: 900;
  transition: all 0.5s ease 0s;
}

.img:hover:before {
  content: "";
  color: black;
  position: absolute;
  width: 100%;
  left: 150px;
  height: 100%;
  background: white;
  opacity: 0;
  transition: all 0.5s ease 0s;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

.img:after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0px;
  background: white;
  opacity: .5;
  font-weight: 900;
  transition: all 0.5s ease 0s;
}

.img:hover:after {
  content: "";
  color: black;
  position: absolute;
  width: 100%;
  right: 150px;
  height: 100%;
  background: white;
  opacity: 0;
  transition: all 0.5s ease 0s;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

.img:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 720px) {
  .sec-illust {
    height: 20vh;
    background: url('../images/bg-illustra.jpg');
    background-position: center;
    background-size: cover;
    margin: 4px;
    border-radius: 4px;
  }
}



