.cdrfbox-service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;
  color: $white;
  background: $purple-gradient;
  box-shadow: $box-shadow-in;
}

.cdrfbox-service p {
  text-indent: 2rem;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .cdrfbox-service p {
  font-size: 1.3rem;
}
}
