/* banner organisation */
.cdrfbox-organ-banner {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-origin: center;
  min-height: 300px;
  text-align: center;
  color: $white;
  margin-bottom: 40px;
  padding: 130px 2px 0px 20px;
}

.cdrfbox-organ-banner h3 {
    font-size: 2.3rem;
    margin: 0px 30px;
  }


/* Boite englobant les sections "page organisation"*/
.cdrfbox-organ {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
  margin-bottom: 50px;
  padding: 50px 20px 8px 20px; /*décalage anchor tag*/
  color: black;
  background: $purple-gradient;
  box-shadow: $box-shadow-in;
  border-radius: 4px;
}

.cdrfbox-organ h2 {
  position: relative;
  margin-bottom: 30px;
}

.cdrfbox-organ p {
  text-indent: 2rem;
  font-size: 1.5rem;
  padding: 0px 50px;
  text-align: justify;
}

.cdrfbox-organ img {
  position: relative;
  margin: 8px 0px;
}

.cdrfbox-inter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  margin-bottom: 50px;
  padding: 10px 4px 10px 4px; /*décalage anchor tag*/
  color: black;
  background: $white;
  background-size: cover;
  text-indent: 2rem;
}

#logo {
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0.1;
}

.indicator {
  position: absolute;
  bottom: 4px;
  right: 100px;
  background: $menu-gradient;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;
  margin: 0 auto;
}

.page-title {
  background: $purple-gradient;
  padding: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 20px;
  color: black;
  box-shadow: $box-shadow;
}

.organ-menu-top {
  opacity: 1;
  counter-reset: stylitem;
  position: fixed;
  top: 100px;
  left: -310px;
  min-width: 340px;
  border-radius: 4px;
  border: 1px black solid;
  background: $purple;
  padding: 12px 8px;
  z-index: 30;
  font-size: 1.3rem;
  transition: all ease-in-out 500ms;
}
.design-omt {
  border-radius: 2px;
  background: $purple-gradient;
  margin-top: 14px;
  padding: 12px 2px;
  width: 90%;
  box-shadow: inset 1px 1px 1px 1px;
}

.organ-menu-top i{
  position: absolute;
  top: 5px;
  right: 2px;
  padding: 8px;
  transform: scale(1.5);
  color: white;
}

#arrow-down {
  position: absolute;
  top: 130px;
  color: $purple-dark;
}

#arrow-up {
  position: absolute;
  color: $purple-dark;
  top: 30px;
}

.title-omt {
  position: absolute;
  top: 2px;
  left: 34px;
  color: $white;
  font-size: 1.5rem;
  font-family: $headers-font;
}

.organ-menu-top:hover {
  left: 0px;
  border-radius: 4px;
  border: 1px rgba(255,255,255, 0.1) solid;
  transition: all ease-in-out 500ms;
}

.organ-menu-top ul{
  list-style: none;
  content: counter();
  color: black;
}

#icon-omt {
  position: absolute;
  top: 60px;
  right: 2px;
  padding: 4px;
}

.organ-menu-top a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.organ-menu-top li:before {
  counter-increment: stylitem;
  content: " " counter(stylitem);
}

.organ-menu-top a:hover {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.nav-links {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
  text-decoration: none;
}

#sliderje {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

#sliderje figure {
  position: relative;
  width: 800%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 50s slidy infinite;
}

#sliderje figure img {
  width: 12.5%;
  height: auto;
  float: left;
}

@keyframes slidy {
  0% { left: 0%; }
  10% { left: 0%; }
  11% { left: -100%; }
  21% { left: -100%; }
  22% { left: -200%; }
  32% { left: -200%; }
  33% { left: -300%; }
  43% { left: -300%; }
  44% { left: -400%; }
  54% { left: -400%; }
  55% { left: -500%; }
  65% { left: -500%; }
  66% { left: -600%; }
  76% { left: -600%; }
  77% { left: -700%; }
  100% { left: -700%; }


}

@media only screen and (max-width: 768px) {
  .cdrfbox-organ-banner {
    padding: 90px 2px 0px 20px;
  }

  .cdrfbox-organ-banner h3 {
    font-size: 2rem;
    margin: 0px 10px;
  }

  .cdrfbox-organ p {
    font-size: 1.3rem;
    padding: 0px 8px;
  }

  #sliderje {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
}
}
