.white {
  position: relative;
  background-color: white;
}

.button {
  position: relative;

}
.thumbs {
  transition: color 0.3s ease;
  padding: 15px 10px 0px 20px;
  p {
    margin: 0px 20px 0px 8px;
  }

}
