// Define variables for your color scheme

// For example:
$grey: #F3F3F3;
$darker-grey: #e5e5e5;
$gray: #000000;
$light-gray: #F4F4F4;
$red: #F8AC00;
$blue: #469AE0;
$green: #32B796;

$yellow: #ffcd00;
$yellow-light: #ffe100;
$orange: #FFAE00;
