// Define variables for your color scheme

// For example:
$grey: #F3F3F3;
$light-gray: #F4F4F4;
$gray: #000000;
$darker-grey: #e5e5e5;
$red: #F8AC00;
$blue: #469AE0;
$green: #32B796;
$white: #fff;

$yellow: #ffcd00;
$yellow-light: #ffe100;
$orange: #FFAE00;
$purple: #7d2dbf;
$purple-dark:#351054;
$brown:#998675;
$brown-dark: #4a4f45;
