// Define variables for your color scheme

// For example:
$grey: #F3F3F3;
$light-gray: #6b6b6b;
$gray: #000000;
$darker-grey: #e5e5e5;
$red: #F8AC00;
$blue: #469AE0;
$green: #32B796;
$white: #fff;

$yellow: #ffcd00;
$yellow-light: #ffe100;
$orange: #FFAE00;

$purple: #9197e6;
$purple-dark:#d4d7ff;
$purple-footer:#7745FF;
$brown:#998675;
$brown-dark: #4a4f45;

$banner-gradient: linear-gradient(165deg,
    rgba($purple, 0.4) 0%,
    rgba($purple-dark, 0.6) 70%);

$purple-gradient : linear-gradient(165deg,
    rgba($purple, 0.9) 0%,
    rgba($white, 0.5) 70%);

$purple-gradient2 : linear-gradient(165deg,
    rgba($purple, 1) 0%,
    rgba($purple-dark, 1) 70%);

$menu-gradient: linear-gradient(180deg,
    rgba($white, 0.8) 0%,
    rgba($purple, 0.9) 20%,
    rgba($orange, 1) 80%);

$degrade1: linear-gradient(155deg,
    rgba($purple, 0.8) 0%,
    rgba($purple-dark, 1) 70%);
