// Import Google fonts

@import url('https://fonts.googleapis.com/css?family=Cinzel|Quicksand');


// Define fonts for body and headers
$headers-font: "Cinzel", "sans-serif";
$body-font: "Quicksand", "sans-serif";
Cinzel

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

html body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
