// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel|Robotto');

// Define fonts for body and headers
$headers-font: "Robotto", "sans-serif";
$body-font: "Cinzel", "sans-serif";


h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

html body {
  box-sizing: border-box;
  font-family: $body-font;
}

*, *:before, *:after {
  box-sizing: inherit;
}
