---
title: Le Wagon - Middleman - About
---



<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fa fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<section>
  <div class="text-center">
    <%= image_tag "https://source.unsplash.com/200x300/?nature,water", alt: "MOI" %>
  <p>Ca c'est moi !<br> </p>
  </div>
</section>



<div class="life">
  <div class="life-cell">
    <div class="bloc-text">
      <div class="life-data">
      <h3>Infographie & Web</h3>
      <p>Depuis que les cahiers ont des marges, je les ais rempli de croquis, d'ébauches, de caricatures, de bulles. Sont arrivés les premiers ordinateurs personnels et c'est sous Amiga 500+ que j'ai commencé à dessiner au niveau du pixel il y a plus de 25 ans. Dès lors, je n'ai céssé de suivre et de me former sur des logiciels professionnels comme 3dsMax, photoshop, illustrator, dreamweaver, flash, cubase, et tant d'autres. Tout ce qui allais me permettre de montrer un jour ce que l'on peux réaliser juste poussé par sa passion pour un domaine comprenant le dessin, l'animation, le son, bref ce que moi je défini comme domaine multilmédia.</p>
      </div>
    </div>
    <div class="bloc-text">
      <div class="life-data">
      <h3>Plongée sous-marine & voyages</h3>
      <p>C'est la seconde de mes passion. J'ai démarré ma formation en 2014, dans les calanques de Marseille avec d'anciens scaphandriers professionnels avant de m'installer pour quelques mois en Thaïlande sur l'île de Koh Tao pour y passer mon Divemaster (2017). Puis c'est en Indonésie à Nusa Penida que j'ai décroché mon instructorat de plongée : Open Water Instructor SSI (2018). Mes compétences en informatique (développement et infographie) étant transportables pour travailler à l'étranger.</p>
      </div>
    </div>
    <div class="bloc-text">
      <div class="life-data">
        <h3>Musique</h3>
        <p>J'ai depuis mon adolescence toujours eu une guitare éléctrique, sêche, un clavier, une guimbarde, un tambour, un harmonica. J'ai compris rapidement que les vibrations, le son, étaient une part importante de notre réalité physique et je m'accorde régulièrement des sessions de pratique essentiellement à la guitare.</p>
      </div>
    </div>
    <div class="bloc-text">
      <div class="life-data">
        <h3>La recherche d'informations</h3>
        <p>Quelque soit le domaine, l'information est à notre disposition grâce à internet. Certes il nous faut la trier et la recouper, pour prendre des decisions appropriées, pour trouver une solution éfficace. Trouver des solutions à des problèmes de code dans le développement, de transformation personnelle dans la vie, de tendances dans le design, de bricolage pour la maison ou la voiture.</p>
      </div>
    </div>
    <div class="bloc-text">
      <div class="life-data">
        <h3>Science & spiritualité</h3>
        <p>Il m'est impossible de ne pas s'interroger sur la nature de notre réalité. Je suis passionné par certains chercheurs, souvent indépendants, scientifiques, expérimentateurs, lanceurs d'alertes qui posent les bonnes questions et élèvent les consciences de ceux qui en ont le désir. J'ai fait le choix de prendre le temps, sur celui qui m'appartient en tant qu'individu curieux, sceptique, de rechercher régulièrement les informations qui me donnent un  aperçu assez global des mouvements de conscience et de ce qui se déssine dans notre civilisation</p>
      </div>
    </div>
    <div class="bloc-text">
      <div class="life-data">
        <h3>Activités ludiques</h3>
        <p>
          <ul>
            <li>Les mains dans l'argile</li>
            <li>La physique et l'énergie</li>
            <li>La mécanique</li>
            <li>La musique</li>
            <li></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
