<div class="nav-offset-top"></div>

<div class="cdrfbox-about">
  <div class="container about-text">
    <h3>Qui sommes-nous ?</h3>
    <p><strong>Clefs d'Elfe</strong> est une société familiale qui à coeur d'organiser au mieux vos évènements avec rigueur et plaisir.</p>
    <p>Née en 2011 et fort de notre expèrience éprouvée nous mettons à votre disposition notre savoir faire et notre carnet d'adresse qui s'étend à travers la région Bordelaise entre cadres exceptionnels et lieux culturels.</p>
    <p>Nous sommes à votre écoute pour toutes demandes d'informations.</p>
     <span><a href="contact.html" class="btn btn-warning btn-design">Nous contacter</a></span>
  </div>


</div>

