<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-3d.png" %>
    </div>
    <div class="p-texte">
      <h1>Modélisation 3D</h1>
      <p>Je modélise avec 3ds-Max et sculpte avec Mudbox. Mes textures sont créées avec photoshop.<br>
        Depuis plus de 20 ans, je me passionne pour la 3D et l'animation. Voici quelques projets personnels<br>
      qui, je l'éspère, me permettrons d'attirer votre attention.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-3dsmax.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-mudbox.png", alt: "Mudbox" %>
      </div>
  </div>
</div>
<p></p>
<div class="container">
  <div class="a-textbox">
    <div class="a-imgbox">
      <div class="img">
        <a href="patcham.html" target="mainFrame"><img src="../images/Patcham1.gif"></a>
      </div>
      <div class="img">
        <a href="e1face.html" target="mainFrame"><img src="../images/e1face1.jpg"></a>
      </div>
      <div class="img">
        <a href="mamba.html" target="mainFrame"><img src="../images/Mamba1.png"></a>
      </div>
      <div class="img">
        <a href="hair.html" target="_self"><img src="../images/hair1.jpg"></a>
      </div>
      <div class="img">
        <a href="bike.html" target="mainFrame"><img src="../images/bike1.gif"></a>
      </div>
      <div class="img">
        <a href="dino.html" target="mainFrame"><img src="../images/dinoreel1.jpg"></a>
      </div>
      <div class="img">
        <a href="trex.html" target="mainFrame"><img src="../images/trex1.jpg"></a>
      </div>
      <div class="img">
        <a href="babymech.html" target="_self"><img src="../images/babymech1.jpg"></a>
      </div>
       <div class="img">
        <a href="char2.html" target="_self"><img src="../images/char21.jpg"></a>
      </div>
      <div class="img">
        <a href="porkman.html" target="_self"><img src="../images/porkman1.jpg"></a>
      </div>
      <div class="img">
        <a href="origine.html" target="_self"><img src="../images/origine1.jpg"></a>
      </div>
       <div class="img">
        <a href="player.html" target="mainFrame"><img src="../images/player1.gif"></a>
      </div>
      <div class="img">
        <a href="ah-64.html" target="_self"><img src="../images/ah-641.gif"></a>
      </div>
      <div class="img">
        <a href="dreamhouse.html" target="_self"><img src="../images/dreamhouse1.gif"></a>
      </div>
      <div class="img">
        <a href="discret.html" target="_self"><img src="../images/discret1.gif"></a>
      </div>
      <div class="img">
        <a href="cosmo.html" target="_self"><img src="../images/cosmo1.gif" ></a>
      </div>
      <div class="img">
        <a href="charfem.html" target="mainFrame"><img src="../images/charfem1.gif"></a>
      </div>
      <div class="img">
        <a href="crash.html" target="_self"><img src="../images/crash1.gif" ></a>
      </div>
      <div class="img">
        <a href="e1.html" target="_self"><img src="../images/e11.gif" ></a>
      </div>
      <div class="img">
        <a href="arsac.html" target="_self"><img src="../images/arsac1.gif"></a>
      </div>
      <div class="img">
        <a href="pieuvre.html" target="_self"><img src="../images/pieuvre1.gif"></a>
      </div>
      <div class="img">
        <a href="meuble.html" target="_self"><img src="../images/meuble1.gif"></a>
      </div>
      <div class="img">
        <a href="boite.html" target="_self"><img src="../images/boite1.gif"></a>
      </div>
      <div class="img">
        <a href="model.html" target="_self"><img src="../images/model1.jpg"></a>
      </div>
      <div class="img">
        <a href="perso3.html" target="_self"><img src="../images/personnage031.jpg"></a>
      </div>
      <div class="img">
        <a href="quad.html" target="_self"><img src="../images/quad_2018-1.jpg"></a>
      </div>
      <div class="img">
        <a href="garment.html" target="_self"><img src="../images/garment1.jpg"></a>
      </div>
      <div class="img">
        <a href="interieur.html" target="_self"><img src="../images/interieur1.jpg"></a>
      </div>
      <div class="img">
        <a href="crowd.html" target="_self"><img src="../images/crowd1.jpg"></a>
      </div>
      <div class="img">
        <a href="../shorts/toycar.mp4" target="_self"><img src="../images/toycar1.jpg"></a>
      </div>
       <div class="img">
        <a href="extex.html" target="_self"><img src="../images/extex1.gif"></a>
      </div>
      <div class="img">
        <a href="carpentry.html" target="_self"><img src="../images/carpentry1.jpg"></a>
      </div>
    </div><!-- fin imgbox -->
  </div>
</div>
<p></p>
<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre projet.<br>
      2- Je réceptionne toutes les références nécessaires, cahier des charges.<br>
      3- J'établie un devis.<br />
      4- Dès réception de l'acompte, le projet est mis en production.<br />
      5- Nous évaluons ensemble, au fur et à mesure de l'avancement, l'aspect et la pertinence des résultats.<br />
      6- Le projet est livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>
<p></p>
<div class="container">

  <div class="a-imgbox2">
    <p>J'utilise différents types de structures pour l'animation de personnage.<br>
      Biped est une structure sous 3DS Max permettant des animations professionnelles.<br/>
      Cliquez le bouton pour voir le court-métrage:<br/>
      <a href="../shorts/temballes pas.avi" class="btn btn-success"> T'emballes pas !!!</a>
    </p>
    <div class="img2 d-flex">
      <img src="../images/al yenn.gif" class="img2 d-flex">
    </div>
  </div>

  <div class="a-imgbox2">
    <p>Personnage + Biped + Skin + Morph faces target.</p>
     <div class="img2 d-flex"><img src="../images/character.jpg"></div>
    </div>
     <br>
  <div class="a-imgbox2">
    <p>Intégration du Biped sur arrière plan fixe.</p>
     <div class="img2 d-flex"><img src="../images/bbm.jpg"></div>
    </div>
    <br>
  <div class="a-imgbox2">
    <p>Animation d'un poisson par keyframe.</p>
     <div class="img2 d-flex"><img src="../images/fish.gif"></div>
    </div>
    <br>
  <div class="a-imgbox2">
    <p>Personnage + Bones + Skin + Morph faces target + Hair & Fur.</p>
     <div class="img2 d-flex"><img src="../images/singer.gif"></div>
     </div>
    <br>
  <div class="a-imgbox2">
    <p></p>
     <div class="img2 d-flex"><img src="../images/swark.gif"></div>
    </div>
    <br>
  <div class="a-imgbox2">
      <div class="img2 d-flex">
      <p class="textbox">Regardez le résultat animé (3 secondes).<br />
        <a href="../shorts/troupers.mp4" class="btn btn-success"> Go ! </a></p>
      <img src="../images/soldat.gif">
      </div>
  </div>
   <br>
  <div class="a-imgbox2">
    <p></p>
     <div class="img2 d-flex"><img src="../images/gogodance.jpg"></div>
    </div>
</div><!-- Fin container-->









</body>
</html>


