<div class="nav-offset-orga"></div>
<div class="container">

<div class="text-center page-title" data-aos="fade-down">
    <h3>CONTACT</h3>
  </div>

  <div class="cdrfbox-contact">
    <div class="action">
      <h3>Clefs d'Elfe</h3>
      <h4>33610 CESTAS</h4>
      <h5>Tel: (+33) 6 26 71 14 27</h5>
    </div>
    <div class="stylised">
      <form action="https://formspree.io/florence@clefsdelfe.com" method="post">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label>Prénom</label>
              <input class="form-control" type="text"name="prénom" placeholder="Saisissez ici votre prénom">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Nom</label>
              <input class="form-control" type="text"name="nom" placeholder="Saisissez ici votre Nom">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Addresse E-mail</label>
              <input class="form-control" type="email" name="_replyto" placeholder="Saisissez ici votre E-mail">
            </div>
          </div>

           <div class="col-md-4">
              <label type="title">Votre message concerne :</label>
            <div class="form-group">
              <li><input type="checkbox" id="etude" name="choice" value="deplacement">
                <label for="deplace">Une journée d'étude</label></li>
              <li><input type="checkbox" id="semi" name="choice" value="deplacement">
                <label for="deplace">Un seminaire</label></li>
              <li><input type="checkbox" id="repas" name="choice" value="deplacement">
                <label for="deplace">Un repas d'affaire</label></li>
              <li><input type="checkbox" id="even" name="choice" value="deplacement">
                <label for="deplace">Une organisation d'évènement</label></li>
              <li><input type="checkbox" id="acti" name="choice" value="deplacement">
                <label for="deplace">Une activité récréative</label></li>
              <li><input type="checkbox" id="deplace" name="choice" value="deplacement">
                <label for="deplace">Un déplacement</label></li>


            </div>
          </div>

        </div><!-- fin row -->

        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="body" rows="4" placeholder="Saisissez ici votre message, la description de votre projet..."></textarea>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <input class="form-control" type="submit" value="Envoyer">
            </div>
          </div>
        </div>
      </form>
    </div><!-- fin stylised -->
  </div><!-- fin cdrfbox-contact -->
</div><!-- fin container -->

