<div class="container">

<form action="submit", method: :get>
  <label for="prénom">Prénom</label>
  <input id="prénom" type="text">
  <label for="nom">Nom</label>
  <input id="nom" type="text">
  <input type="submit", >
</form>





</div>
