<div class="container" data-aos="fade-down">
  <div class="imgbox-white">
    <div class="img"><img src="../images/fou B.gif"></div>
    <div class="img"><img src="../images/ok.gif"></div>
    <div class="img"><img src="../images/non2.gif"></div>
    <div class="img"><img src="../images/heu.gif"></div>
    <div class="img"><img src="../images/ouais.gif"></div>
    <div class="img"><img src="../images/non.gif"></div>
    <div class="img"><img src="../images/kikou.gif"></div>
  </div><!-- fin imgbox -->
  <div class="imgbox-black">
    <div class="img"><img src="../images/yes.gif"></div>
    <div class="img"><img src="../images/lola2.gif"></div>
    <div class="img"><img src="../images/lol9.gif"></div>
    <div class="img"><img src="../images/lol8.gif"></div>
    <div class="img"><img src="../images/fou N.gif"></div>
    <div class="img"><img src="../images/oeil3.gif"></div>
    <div class="img"><img src="../images/redcar2.gif"></div>
  </div><!-- fin imgbox -->
  <div class="imgbox-black">
    <div class="img"><img src="../images/birds.gif"></div>
    <div class="img"><img src="../images/ara.gif"></div>
    <div class="img"><img src="../images/isle4.gif"></div>
  </div><!-- fin imgbox -->
  <div class="imgbox-black">
    <div class="img"><img src="../images/Egrappage.gif"></div>
    <div class="img"><img src="../images/foulage.gif"></div>
    <div class="img"><img src="../images/presse.gif   "></div>
  </div><!-- fin imgbox -->
  <div class="imgbox-black">
    <div class="img"><img src="../images/nuages.gif"></div>
    <div class="img"><img src="../images/carla.gif"></div>
    <div class="img"><img src="../images/char2.gif"></div>
    <div class="img"><img src="../images/aliensit.gif"></div>
    <div class="img"><img src="../images/guitare.gif"></div>
    <div class="img"><img src="../images/francou.gif"></div>
  </div><!-- fin imgbox -->
</div><!-- fin container -->


