<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-illust.png" %>
    </div>
    <div class="p-texte">
      <h1>Dessins et illustrations.</h1>
      <p>Identité visuelle, illustrations, bande dessinée, personnages, caricatures... </p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-illustrator.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-wacom.png", alt: "Wacom" %>
      </div>
  </div>
</div>

  <div class="i-container" data-aos="fade-down">
     <div class="img">
      <a href="visual.html" target="_self"><img src="../images/visual_bw1.jpg"  alt="visual"></a>
    </div>
    <div class="img">
      <a href="shark.html" target="_self"><img src="../images/shark1.jpg"  alt="shark"></a>
     </div>
    <div class="img">
      <a href="med.html" target="_self"><img src="../images/Med1.jpg"></a>
    </div>
    <div class="img">
      <a href="woman.html" target="_self"><img src="../images/powergirl1.png"></a>
    </div>
    <div class="img">
      <a href="ecografik.html" target="_self"><img src="../images/ecografik1.gif" alt=""></a>
    </div>
    <div class="img">
      <a href="ficel.html" target="_self"><img src="../images/ficel1.gif"  alt="personnage"></a>
    </div>
    <div class="img">
      <a href="underwater.html" target="_self"><img src="../images/underwater1.jpg" alt="Aquatao visual"></a>
    </div>
    <div class="img">
      <a href="guitare.html" target="_self"><img src="../images/guitare1.gif"></a>
    </div>
    <div class="img">
      <a href="smile.html" target="mainFrame"><img src="../images/smile1.jpg""></a>
    </div>
    <div class="img">
     <a href="sarah4.htm" target="_self"><img src="../images/Sarah41.jpg" ></a>
    </div>
    <div class="img">
      <a href="planchebd.html" target="_self"><img src="../images/planche41.gif"></a>
    </div>
    <div class="img">
      <a href="ah.html" target="_self"><img src="../images/ah1.png" height="139"></a>
    </div>
    <div class="img">
       <a href="aurelia.htm" target="_self"><img src="../images/Aurelia1.jpg"></a>
    </div>
    <div class="img">
      <a href="pose.html" target="_self"><img src="../images/pose1.gif"  alt=""></a>
    </div>
    <div class="img">
      <a href="marsupio.html" target="_self"><img src="../images/marsupio1.gif"  alt=""></a>
    </div>
    <div class="img">
      <a href="she.html" target="_self"><img src="../images/she1.jpg"  alt="personnage"></a>
    </div>
    <div class="img">
      <a href="nu2.html" target="_self"><img src="../images/woman1.gif"  alt=""></a>
    </div>
    <div class="img">
      <a href="pinup.html" target="_self"><img src="../images/pinup1.jpg" ></a>
    </div>
    <div class="img">
      <a href="guitar1.html" target="_self"><img src="../images/guitar1.gif"  alt="guitar"></a>
    </div>
    <div class="img">
      <a href="condom.html" target="_self"><img src="../images/condom1.jpg"  alt="design"></a>
    </div>
    <div class="img">
      <a href="madame.html" target="_self"><img src="../images/madame1.jpg"  alt="design"></a>
    </div>
    <div class="img">
      <a href="logosph.html" target="_self"><img src="../images/logospheres1.jpg"  alt="design"></a>
    </div>
     <div class="img">
      <a href="piaf.html" target="_self"><img src="../images/piaf1.gif"  alt="design"></a>
    </div>
    <div class="img">
      <a href="mede.html" target="_self"><img src="../images/mede1.gif"></a>
    </div>
</div><!-- fin i-container -->
<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre besoin, objectif, cible, description de votre univers.<br />
    2- J'établie un devis.<br />
    3- Dès réception de l'acompte, le projet est mis en production.<br />
    4- Je vous fais une proposition créative basée sur la ligne directrice.<br />
    5- Nous évaluons ensemble l'avancement des productions.<br />
    6- Le projet est livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>
