
<%= partial 'layouts/components/banner' %>

<div id="cdrfbox" class="cdrfbox">

  <img src="../images/fx-up2.png" class="miel">

    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Nos miels.</h1></div>
      <img src="images/pot_card.png" alt="Categorie" height = 110>
    </div>

    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Les senteurs ~</h1></div>
      <img src="images/Senteurs.png" alt="Categorie" height = 110>
    </div>

    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Les douceurs,<br> et les envies...</h1></div>
      <img src="images/douceurs.png" alt="Categorie" height = 80>
    </div>

    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Bien-être<br> et santé !</h1></div>
      <img src="images/sante.png" alt="Categorie" height = 120>
    </div>

</div><!-- fin cdrfbox -->



