
<%= partial 'layouts/components/banner' %>

<div class="container">
<div class="cdrfbox-icon">
  <div class="cards">
    <div class="cards-title"><h1>Organisation</h1></div>
    <div class="cards-category">Informations</div>
        <img src="../images/icon-organ.png" height="90" alt="organisation">
  </div>

  <div class="cards">
    <div class="cards-title"><h1>Services</h1></div>
    <div class="cards-category">Informations</div>
        <img src="../images/icon-serv.png" height="90" alt="services">
  </div>

  <div class="cards">
    <div class="cards-title"><h1>Réservations</h1></div>
    <div class="cards-category">Informations</div>
     <img src="../images/icon-reserv.png" height="90" alt="réservation">
  </div>

  <div class="cards">
    <div class="cards-title"><h1>Décoration</h1></div>
    <div class="cards-category">Informations</div>
      <img src="../images/icon-deco.png" height="90" alt="décoration">
  </div>

  <div class="cards">
    <div class="cards-title"><h1>Contact</h1></div>
    <div class="cards-category">Informations</div>
      <img src="../images/icon-contact.png" height="90" alt="contact">
  </div>
</div><!-- fin cdrfbox -->

</div><!-- fin container -->

<section class="sec-3" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-170" data-stellar-horizontal-offset="50"></section>

