
<%= partial 'layouts/components/banner' %>

<div id="cdrfbox" class="cdrfbox-icon">

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Organisation</h1></div>
  </div>

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Services</h1></div>
  </div>

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Réservations</h1></div>
  </div>

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Décoration</h1></div>
  </div>

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Contact</h1></div>
  </div>

  <div class="cards">
    <div class="cards-category">texte</div>
    <div class="cards-title"><h1>Autres</h1></div>
  </div>

</div><!-- fin cdrfbox -->



