<%= partial 'layouts/components/banner' %>

<%= partial 'layouts/components/about' %>

<section class="sec-3 hidden-xs"
  data-stellar-background-ratio="0.5"
  data-stellar-vertical-offset="-150"
  data-stellar-horizontal-offset="50">
  <div class="text-center sec-3-text">
    <h1>Restez concentré sur vos tâches essentielles.<br>Nous nous occupons du reste !</h1>
  </div>
</section>

<div id="link-decouvrir" class="container" >

  <div class="cdrfbox-cards" data-aos="fade-in">
    <a href="organ.html"><div class="cards">
      <div class="cards-title"><h1>Organisation</h1></div>
      <div class="cards-category"></div>
          <img src="../images/icon-organ.png" alt="organisation">
    </div></a>

    <a href="services.html"> <div class="cards">
      <div class="cards-title"><h1>Services</h1></div>
      <div class="cards-category"></div>
          <img src="../images/icon-service.png" height="90" alt="services">
    </div></a>

    <a href="contact.html"><div class="cards">
      <div class="cards-title"><h1>Contact</h1></div>
      <div class="cards-category"></div>
       <img src="../images/icon-contact.png" height="90" alt="contact">
    </div></a>

    <a href="about.html"><div class="cards">
      <div class="cards-title"><h1>A propos</h1></div>
      <div class="cards-category"></div>
       <img src="../images/Logo_v3.png" alt="logo clefsdelfe">
    </div></a>

  </div><!-- fin cdrfbox-cards -->


  <%= partial 'layouts/components/coord' %>
  <%= partial 'layouts/components/parten' %>

</div><!-- fin container -->



