<div id="nav-offset-top" class="nav-offset-top"></div>

<div id="organ-menu-top" class="organ-menu-top">
    <ul>
      <i class="fa fa-arrow-right" ></i>
      <li> <a href="#jetud">Journées d'études</a> </li>
      <li> <a href="#seminaires">Séminaires</a> </li>
      <li> <a href="#salons">Salons</a> </li>
      <li> <a href="#rep-af">Repas d'affaires</a> </li>
      <li> <a href="#act-re-cu">Activités récréatives et culturelles</a> </li>
      <li> <a href="#dep">Déplacements</a> </li>
    </ul>
  </div>


<div class="container">

  <div class="cdrfbox-organ">
    <h3>Clefs d'elfe s'occupe de vos journées d'études, séminaires, salons, repas d'affaires, activitées récréatives et culturelles, déplacements...</h3>
    <p>Clefs d'elfe s'occupe de vos journées d'études, séminaires, salons, repas d'affaires, activitées récréatives et culturelles, déplacements...</p>
  </div>

  <div id="jetud" class="cdrfbox-organ">
    <img src="https://picsum.photos/320/240?blur">
    <h1>Journées d'études</h1>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

    <div class="main-container">
      <div class="main-container-left">
        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>
      </div>
      <div class="main-container-right">
        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>
      </div>
    </div>

  </div>

  <div id="seminaires" class="cdrfbox-organ">
    <h1>Séminaires</h1>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae delectus, voluptatum hic repudiandae magni earum explicabo non corporis alias architecto neque animi blanditiis ratione vel enim odio odit in.</p>

  </div>

  <div id="salons" class="cdrfbox-organ">
    <h1>Salons</h1>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ullam quis aliquid sit. Molestias iste consequuntur, ex labore, non delectus laboriosam placeat ducimus. Deserunt totam quibusdam consequuntur tempora cumque modi.</p>

  </div>

  <div id="rep-af" class="cdrfbox-organ">
    <h1>Repas d'affaires</h1>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ullam quis aliquid sit. Molestias iste consequuntur, ex labore, non delectus laboriosam placeat ducimus. Deserunt totam quibusdam consequuntur tempora cumque modi.</p>

  </div>

  <div id="act-re-cu" class="cdrfbox-organ">
    <h1>Activitées récréatives et culturelles</h1>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ullam quis aliquid sit. Molestias iste consequuntur, ex labore, non delectus laboriosam placeat ducimus. Deserunt totam quibusdam consequuntur tempora cumque modi.</p>

  </div>

  <div id="dep" class="cdrfbox-organ">
    <h1>Déplacements</h1>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ullam quis aliquid sit. Molestias iste consequuntur, ex labore, non delectus laboriosam placeat ducimus. Deserunt totam quibusdam consequuntur tempora cumque modi.</p>

  </div>

</div><!-- Fin container -->
