<div id="nav-offset-top" class="nav-offset-top"></div>

<div id="organ-menu-top" class="organ-menu-top">
    <ul>
      <i class="fa fa-arrow-right" ></i>
      <li> <a href="#jetud">Journées d'études</a> </li>
      <li> <a href="#seminaires">Séminaires</a> </li>
      <li> <a href="#salons">Salons</a> </li>
      <li> <a href="#rep-af">Repas d'affaires</a> </li>
      <li> <a href="#act-re-cu">Activités récréatives et culturelles</a> </li>
      <li> <a href="#dep">Déplacements</a> </li>
    </ul>
  </div>


<div class="container">

  <div class="text-center page-title">
    <h1>ORGANISATION</h1>
  </div>

  <div class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h3>Clefs d'elfe organise vos journées d'études, vos séminaires et salons, repas d'affaires, activitées récréatives et culturelles, vos déplacements...</h3>
    <p>Clefs d'elfe s'occupe de vos journées d'études, séminaires, salons, repas d'affaires, activitées récréatives et culturelles, vos déplacements...</p>
  </div>

  <div class="cdrfbox-inter"></div>

  <div id="jetud" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Journées d'études</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Selon vos besoins, Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="seminaires" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Séminaires</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="salons" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Salons</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="rep-af" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Repas d'affaires</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="act-re-cu" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Activitées récréatives et culturelles</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="dep" class="cdrfbox-organ">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Déplacements</h2>
    <a href="#nav-offset-top" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

</div><!-- Fin container -->
