<div id="page-top" class="nav-offset-orga"></div>

<div id="organ-menu-top" class="organ-menu-top">
  <div class="title-omt"><a href="#page-top">Nos prestations Organisation</a></div>
  <div class="design-omt">
    <ul>
      <i id="arrow-up" class="fa fa-arrow-up"></i>
      <i id="arrow-down" class="fa fa-arrow-down"></i>
      <img id="icon-omt" src="../images/menu-omt.gif" alt="nav">
      <li> <a href="#jetud">Journées d'études</a> </li>
      <li> <a href="#seminaires">Séminaires</a> </li>
      <li> <a href="#salons">Salons</a> </li>
      <li> <a href="#rep-af">Repas d'affaires</a> </li>
      <li> <a href="#act-re-cu">Activités récréatives et culturelles</a> </li>
      <li> <a href="#dep">Déplacements</a> </li>
    </ul>
  </div>
</div>


<div class="container">

  <div class="text-center page-title">
    <h1>ORGANISATION</h1>
  </div>

  <div class="cdrfbox-organ-banner" style="background-image: linear-gradient(-225deg, rgba(53, 16, 84,0.6) 0%, rgba(63, 26, 84,0.6) 50%), url('../images/banner1.png');">
    <h3>Clefs d'Elfe se charge d'organiser vos journées d'études, vos séminaires, vos salons, vos repas d'affaires, vos activitées récréatives et culturelles.</h3>
  </div>

  <div class="cdrfbox-inter"></div>

  <div id="jetud" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random1">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Journées d'études</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Selon vos besoins, Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="seminaires" class="cdrfbox-organ nav-offset-orga nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random3">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Séminaires</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="salons" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random4">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Salons</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="rep-af" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random5">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Repas d'affaires</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="act-re-cu" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random6">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Activitées récréatives et culturelles</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

  <div id="dep" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random7">
    <img id="logo" src="../images/Logo1.png" height="90">
    <h2>Déplacements</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis error ipsam rerum alias vero molestiae ipsa. Tempora ad minus iste iusto aliquid cumque! Deleniti cum harum facere adipisci accusantium.</p>

        <p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis ipsa, doloremque aliquam voluptatibus iure mollitia ut voluptates numquam, hic maxime nulla sunt repellendus molestiae laudantium quisquam eos dolor consectetur.</p>

        <p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit. Sint quos ipsa rerum officia cupiditate, minima dolorem temporibus sequi. Quidem quod similique necessitatibus accusamus eos reprehenderit fuga quo dolorem. Praesentium, alias!</p>

  </div>

</div><!-- Fin container -->
