<div id="page-top" class="nav-offset-orga"></div>

<div id="organ-menu-top" class="organ-menu-top">
  <div class="title-omt"><a href="#page-top">Nos prestations Organisation</a></div>
  <div class="design-omt">
    <ul>
      <i id="arrow-up" class="fa fa-arrow-up"></i>
      <i id="arrow-down" class="fa fa-arrow-down"></i>
      <img id="icon-omt" src="../images/menu-omt.gif" alt="nav">
      <li> <a href="#jetud">Journées d'études</a> </li>
      <li> <a href="#seminaires">Séminaires</a> </li>
      <li> <a href="#salons">Salons</a> </li>
      <li> <a href="#rep-af">Repas d'affaires</a> </li>
      <li> <a href="#act-re-cu">Activités récréatives et culturelles</a> </li>
      <li> <a href="#dep">Déplacements</a> </li>
    </ul>
  </div>
</div>


<div class="container">

  <div class="text-center page-title" data-aos="fade-down">
    <h3>ORGANISATION</h3>
  </div>

  <div class="cdrfbox-organ-banner" style="background-image: linear-gradient(-225deg, rgba(53, 16, 84,0.6) 0%, rgba(63, 26, 84,0.6) 50%), url('../images/banner1.jpg');">
    <h3>Clefs d'Elfe se charge d'organiser vos journées d'études, vos séminaires, vos salons, vos repas d'affaires, vos activitées récréatives et culturelles...</h3>
  </div>

  <div class="page-title">
    <p><strong>Introduction : </strong>L'organisation de déplacements et rendez-vous nécessite une bonne coordination et des délais souvent courts. Clefs d'Elfe ...</p>
  </div>

  <div id="jetud" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random1">
    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <h2>Journées d'études</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Vos collaborateurs doivent se réunir afin d’échanger professionnellement dans un cadre agréable et propice à l'attention ?</p><p>Clefs d'Elfe s'occupe de trouver un lieux correspondant à votre objectif avec le matériel nécessaire (paperboard, marqueurs, vidéoprojecteur et écran, connectique permettant de relier les ordinateurs au vidéoprojecteur, pointeur laser, micro et sono performante, connexion wifi). Contactez-nous et laissez-nous gerer cela pour vous.</p>
  <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>


  <div id="seminaires" class="cdrfbox-organ nav-offset-orga">
    <img src="https://picsum.photos/320/240/?random3">
    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <h2>Séminaires</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Vous recherchez à la fois une solution clés-en-main, un lieu marquant, la possibilité de conjuguer travail et détente ? Clefs d'Elfe réunit pour vous les ingrédients indispensables à la réussite de l'organisation de votre séminaire.</p><p>Avec plus de 8 ans d’expérience dans l’organisation d’événements d’entreprise et près de 10 manifestations organisées par an, vous avez l’assurance de profiter d’un savoir-faire et de compétences reconnus.</p><p>Faites le choix d’un prestataire référent en la matière ! Un interlocuteur privilégié et une équipe dédiée vous accompagnent tout au long de l’organisation de votre séminaire d’entreprise. Ils mettent en œuvre vos idées de séminaire, dans le respect de votre budget, pour que votre projet soit une réussite.</p><p>Quel que soit votre projet, nous vous proposons une solution pour votre séminaire. Transport, hébergement, restauration, logistique, coordination… Notre équipe s’occupe de tout !</p><p>Mise à disposition et aménagement de salles de réunion, organisation d'une soirée événementielle... Nous vous proposons des solutions sur-mesure pour répondre à vos exigences et vos besoins pour l’organisation de votre séminaire.</p><p>Dans des sites privilégiés et des salles de réunions dans toute la gironde, des capacités d'accueil jusqu'à 300 personnes... nous saurons  trouver ensemble un lieu de séminaire qui correspond à vos attentes. Salles modulables, équipées et personnalisables selon vos besoins, pauses-café, conférenciers... Faites-nous part de vos souhaits, votre programme est le nôtre !</p><p>Vous souhaitez en savoir plus ? Notre équipe est à votre écoute pour vous conseiller et construire avec vous votre séminaire. Contactez-nous pour recevoir un devis personnalisé.</p>
    <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>

  <div id="salons" class="cdrfbox-organ nav-offset-orga">

      <img src="https://picsum.photos/320/240/?random5">
        <h2>Salons</h2>
      <p>Clefs d"Elfe peux prendre en charge tout ou partie de l'organisation de salons.<br>N'hésitez pas à nous demander des informations, nous sommes à votre écoute pour répondre à toutes vos questions.</p>

        <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>

    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>

  </div>

  <div id="rep-af" class="cdrfbox-organ nav-offset-orga">
    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <h2>Repas d'affaires</h2>
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <p>Profitez de nos adresses d'exception ou laissez nous organiser votre repas d'affaires dans votre lieu de prédilection.</p>
    <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>

  <div id="act-re-cu" class="cdrfbox-organ nav-offset-orga">
    <div class="mainfbox">
      <div class="textbox">
        <h2>Activitées récréatives et culturelles</h2>
        <p>Besoin de souder vos équipes, de fêter une réussité a sein de votre entreprise, de remotiver, récompenser vos collaborateurs.</p>
      </div>
      <img src="https://picsum.photos/320/240/?random60">
      <img src="https://picsum.photos/320/240/?random61">
      <img src="https://picsum.photos/320/240/?random62">
      <img src="https://picsum.photos/320/240/?random63">
    </div>
    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>

  <div id="dep" class="cdrfbox-organ nav-offset-orga">
    <div class="mainfbox">
      <div class="textbox">
        <h2>Déplacements</h2>
        <p>Grâce à nous vous pouvez liberer vos commerciaux, employés d'une source de stress souvent consequente et leur permettre de se concentrer sur l'essentiel.</p>
      </div>
      <img src="../images/icon-reserv.png">
    </div>
    <img id="logo" src="../images/Logo_v3.png" height="90" class="hidden-xs">
    <a href="#page-top" class="nav-links" alt="retour en haut">Haut de page</a>
    <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>

</div><!-- Fin container -->
