<div class="nav-offset-top"></div>

<div class="container">
  <div class="text-center page-title">
    <h3>Planification des transports et gestion de vos correspondances.</h3>
  </div>

  <div class="cdrfbox-about">

    <div class="#">
       <li>Avion</li>
       <li>Train</li>
       <li>Location de véhicule</li>
       <li>Taxi</li>
    </div>
  </div>

  <div class="cdrfbox-about">
    <p>Clefs d'Elfe Planifie pour vous vos déplacements du départ à la destination. Appellez-nous au 06 26 71 14 27 ou utilisez notre <a href="contact.html">page contact</a>.</p>
  </div>

</div><!-- fin container -->
