<div class="#">
    <h1>Réservations</h1>
    <div class="#">
       <li><%= link_to 'Avion', "#.html" %></li>
       <li><%= link_to 'Train', "#.html" %></li>
       <li><%= link_to 'Location voiture', "#.html" %></li>
       <li><%= link_to 'Taxi', "#.html" %></li>
  </div>
</div>
