<div class="nav-offset-top"></div>

<div class="container">
  <div class="cdrfbox-service">
    <h3>Services</h3>
    <p>Clefs d'Elfe est une société de service qui prend en charge les tâches que vous ne souhaitez pas gerer en interne. Déléguez-nous ce travail, c'est notre coeur de métier.</p>
  </div>
  <div class="text-center"><a href="contact.html" class="btn btn-success btn-design">Contactez-nous</a></div>
</div>
