<div class="nav-offset-top"></div>

<div class="container">
  <div class="cdrfbox-service">
    <h3>Services</h3>
    <p>Clefs d'Elfe est une société de service qui prend en charge les tâches que vous ne souhaitez pas gerer en interne. Déléguez-nous ce travail, c'est notre coeur de métier.</p>
    <div class="contact-btn text-center"><a href="contact.html">Contactez-nous</a></div>
  </div>
</div>

<div class="cdrfbox-cards">

    <div class="cards">
      <div class="cards-title"><h1>Réservations</h1></div>
      <div class="cards-category"></div>
      <img src="../images/icon-reserv.png" height="90" alt="services">
    </div>

    <div class="cards">
      <div class="cards-title"><h1>Décoration</h1></div>
      <div class="cards-category"></div>
      <img src="../images/icon-deco.png" height="90" alt="services">
    </div>

    <div class="cards">
      <div class="cards-title"><h1>Animations</h1></div>
      <div class="cards-category"></div>
      <img src="../images/icon-deco.png" height="90" alt="services">
    </div>

    <div class="cards">
      <div class="cards-title"><h1>Pages Web</h1></div>
      <div class="cards-category"></div>
      <img src="../images/icon-deco.png" height="90" alt="services">
    </div>


</div>
