

<div class="video-cont">
  <div class="videobox">
    <video autoplay muted loop>
      <source src="../shorts/banvid2.mp4" type="video/mp4">
    </video>
    <div class="text-vid">
      <h1>Bienvenue sur ce Portfolio.</h1>
      <p>Serge CLEORON</p>
    </div>
  </div>
</div>
